.App {
  margin: 2px 2px;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .form-field {
    flex: 1 1 auto;
    width: 100%;
    margin: 2px 2px;
    padding: 2px 2px;
    display: flex;


    label {
      margin: 0px 2px 0px 0px;
      flex: 0 1 20%;
    }

    input {
      margin: 0px 0px 0px 2px;
      flex: 1 1 80%;
    }
  }

  .form-controls {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 4px 0px;

    button {
      flex: 0 1 auto;
    }
  }
}