@media only screen 
and (min-device-width : 375px) { 

  .app {
    margin: 2px 2px;  
  }

  .app-header {
    background-color: lightblue;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding: 2px 4px;
  }

  .user-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .form-field {
      flex: 1 1 auto;
      flex-wrap: wrap;
      width: 100%;
      margin: 4px 4px;
      padding: 2px 2px;
      display: flex;

      .label {
        margin: 2px 0px 4px 0px;
        width: 100%;
        flex: 1 1 auto;

        label {
          background-color: white;
          border-radius: 2px;
          padding: 2px 0px;
        }
      }

      input, textarea {
        width: 100%;
        flex: 1 1 auto;
      }
    }

    .form-controls {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 4px 0px;

      button {
        flex: 0 1 auto;
      }
    }
  }
}
